/*********************************************logo效果***********************/
@keyframes animated_logo
{
0%		{transform: rotate(0deg);margin-left:5px;}
25%		{transform: rotate(20deg);margin-left:5px;}
50%		{transform: rotate(0deg);margin-left:805px;}
55%		{transform: rotate(0deg);margin-left:805px;}
70%		{transform: rotate(0deg);margin-left:805px;}
100%	{transform: rotate(-360deg);margin-left:5px;}
}

@-webkit-keyframes animated_logo
{
0%		{-webkit-transform: rotate(0deg);margin-left:5px;}
25%		{-webkit-transform: rotate(20deg);margin-left:5px;}
50%		{-webkit-transform: rotate(0deg);margin-left:805px;}
55%		{-webkit-transform: rotate(0deg);margin-left:805px;}
70%		{-webkit-transform: rotate(0deg);margin-left:805px;}
100%	{-webkit-transform: rotate(-360deg);margin-left:5px;}
}

@-moz-keyframes animated_logo
{
0%   {-moz-transform: rotate(0deg);margin-left:5px;}
25%  {-moz-transform: rotate(20deg);margin-left:5px;}
50%  {-moz-transform: rotate(0deg);margin-left:805px;}
55%  {-moz-transform: rotate(0deg);margin-left:805px;}
70%  {-moz-transform: rotate(0deg);margin-left:805px;}
100% {-moz-transform: rotate(-360deg);margin-left:5px;}
}

@-o-keyframes animated_logo
{
0%   {transform: rotate(0deg);margin-left:5px;}
25%  {transform: rotate(20deg);margin-left:5px;}
50%  {transform: rotate(0deg);margin-left:805px;}
55%  {transform: rotate(0deg);margin-left:805px;}
70%  {transform: rotate(0deg);margin-left:805px;}
100% {transform: rotate(-360deg);margin-left:5px;}
}

/******************************************logo效果2************************/
@-webkit-keyframes animated_logo2
{
0%	 {-webkit-transform: rotateX(0deg)}
50%  {-webkit-transform: rotateX(180deg)}
100% {-webkit-transform: rotateX(0deg)}

}
/*********************************************切歌效果***********************/
@keyframes myfirst
{
from {transform:rotate(0deg);}
to {transform:rotate(360deg);}
}

@-moz-keyframes myfirst /* Firefox */
{
from {-moz-transform:rotate(0deg);}
to {-moz-transform:rotate(360deg);}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
from {-webkit-transform:rotate(0deg);}
to {-webkit-transform:rotate(360deg);}
}

@-o-keyframes myfirst /* Opera */
{
from {-o-transform:rotate(0deg);}
to {-o-transform:rotate(360deg);}
}


/*********************************************显示推荐列表的按钮的效果***********************/
@keyframes recommend_flash
{
0% {background:#000;}
50% {background:#fff;}
100% {background:#000;}
}

@-moz-keyframes recommend_flash /* Firefox */
{
0% {background:#000;}
50% {background:#fff;}
100% {background:#000;}
}

@-webkit-keyframes recommend_flash /* Safari 和 Chrome */
{
0% {background:#000;}
50% {background:#fff;}
100% {background:#000;}
}

@-o-keyframes recommend_flash /* Opera */
{
0% {background:#000;}
50% {background:#fff;}
100% {background:#000;}
}